<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://mybatis.org/schema/mybatis-spring 
       http://mybatis.org/schema/mybatis-spring.xsd">

	<description>Mybatis配置</description>
	<!-- MyBatis配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<!-- 自动扫描domain目录, 省掉Configuration.xml里的手工配置 -->
		<property name="typeAliasesPackage" value="com.yunji.oa.domain" />
			
		<!-- 显式指定Mapper文件位置 -->
		<property name="mapperLocations" value="classpath:/mybatis/*.xml" />
	</bean>
	
	<!-- 扫描basePackage下接口 自动生成代理实现类 -->
	<mybatis:scan base-package="com.yunji.oa.dao" factory-ref="sqlSessionFactory" />



    <!-- MyBatis配置 -->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource" />-->
        <!--&lt;!&ndash; 自动扫描domain目录, 省掉Configuration.xml里的手工配置 &ndash;&gt;-->
        <!--<property name="typeAliasesPackage" value="cn.thinkjoy.microschool.base.entity;cn.thinkjoy.microschool.base.api.bean" />-->
        <!--&lt;!&ndash; 显式指定Mapper文件位置 &ndash;&gt;-->
        <!--<property name="mapperLocations" value="classpath:/data/mapper/*.xml" />-->
    <!--</bean>-->
    <!--&lt;!&ndash; 扫描basePackage下接口 自动生成代理实现类 &ndash;&gt;-->
    <!--<mybatis:scan base-package="cn.thinkjoy.microschool.base.dao"  factory-ref="sqlSessionFactory"/>-->

</beans>